{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Buy statutory biodiversity credits</h1>

      <!-- <p>
        {{ data | dump }}
      </p> -->

      <h2 class="govuk-heading-m">Statutory biodiversity metric</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set cannotStartStatus = {
        text: "Cannot start"
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Upload statutory biodiversity metric"
            },
            href: "metric-upload.html ",
            status: (completedStatus if data['development-data'] == "yes" else incompleteStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Statutory biodiversity credits</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Add statutory biodiversity credits"
            },
            href: "credit-tiers.html",
            status: (completedStatus if data['credits-cost'] == "completed" else incompleteStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Purchase order</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Add a purchase order number"
            },
            href: "purchase-order.html",
            status: (completedStatus if data['purchase-order'] == "Yes" or data['purchase-order'] == "No" else incompleteStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Customer due diligence (CDD)</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Complete customer due diligence"
            },
            href: "individual-or-organisation.html",
            status: (completedStatus if data['ind-or-org'] == "Individual" or data['ind-or-org'] == "Organisation" else incompleteStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Terms and conditions</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Accept terms and conditions"
            },
            href: "terms-and-conditions.html ",
            status: (completedStatus if data['terms-and-conditions'] == "agree" else incompleteStatus)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Submit your biodiversity gain information</h2>

      {% if data['terms-and-conditions'] == "agree" %} 

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Check your answers before you submit them"
            },
            href: "check-your-answers.html",
            status: incompleteStatus
          }
        ]
      }) }}

      {% else %} 

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Check your answers before you submit them"
            },
            status: cannotStartStatus
          }
        ]
      }) }}

      {% endif %}

      <!-- <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Apply", href: "#" }) }}
      </div> -->

    </div>
  </div>
{% endblock %}
