<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css?v=1.1" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
  <link href="{{ stylesheetUrl }}?v=1.1" rel="stylesheet" type="text/css" />
{% endfor %}

{% if map %}
  <link rel="stylesheet" href="/public/stylesheets/ol.css" type="text/css">
{% endif %}