{% extends "register-application/v24/layout-register-application.html" %}

{% set showspec = "true" %}

{% set pagenumber = 1 %}

{% set pageHeading = "Match available habitats" %}

{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{# set design spec for this page #}

{% import "/includes/designstatus.html" as designstatus %}

{% 
    set designspec = {
      status: 'design',
      pageurl: '',
      pagetitle: pageHeading,
      ixd: 'alex.morris@defra.gov.uk',
      cd: 'olivia.gordon@defra.gov.uk',
      jira: '',
      error: '',
      notes: ''
    } 
%}

{{ designstatus.designstatus(designspec.status, designspec.pageurl, designspec.pagetitle, path, designspec.ixd, designspec.cd, designspec.jira, designspec.error, designspec.notes, data | dump) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <div class="govuk-form-group">
       <form action="match-allocation-2">
       <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
         <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
           <span class="govuk-caption-l">Step 1 of 3</span>
           <h1 class="govuk-fieldset__heading">
             {{ pageHeading }}
           </h1>
           <span class="govuk-hint">The information displayed is taken from the enhanced habitats cell (B2), from your metric.</span>
         </legend>
         <div class="govuk-inset-text">Grassland - Other neutral grassland (2 hectares / moderate condition)</div>
         <div id="signIn-hint">
           <h2 class="govuk-heading-m">Now choose which available habitat, from your metric, is the best match:</h2>
         </div>
         <div class="govuk-radios" data-module="govuk-radios">
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="match-grassland-1.8" name="match-grassland-{{ pagenumber }}" type="radio" value="1.8 hectares / Moderate Condition" aria-describedby="match-grassland-1.8-hint">
             <label class="govuk-label govuk-radios__label" for="match-grassland-1.8">
               Grassland - Other neutral grassland
             </label>
             <div id="match-grassland-1.8-hint" class="govuk-hint govuk-radios__hint">
               1.8 hectares / Moderate Condition
             </div>
           </div>
           <div class="govuk-radios__item">
             <input class="govuk-radios__input" id="match-grassland-2.0" name="match-grassland-{{ pagenumber }}" type="radio" value="2.0 hectares / Moderate Condition" aria-describedby="match-grassland-2.0-hint">
             <label class="govuk-label govuk-radios__label" for="match-grassland-2.0">
               <!--<strong class="govuk-tag govuk-tag--turquoise">
                 Good match
               </strong>&nbsp;<br>-->Grassland - Other neutral grassland
             </label>
             <div id="match-grassland-2.0-hint" class="govuk-hint govuk-radios__hint">
               2.0 hectares / Moderate Condition
             </div>
           </div>
         </div>
         <div class="govuk-form-group govuk-!-static-margin-top-6">
           <button type="submit" class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </div>
       </fieldset>
       </form>
     </div>

    </div>
  </div>

{% endblock %}
