{% extends "register-application/v24/layout-register-application.html" %}

{% set pageHeading = "Check the statutory biodiversity metric file" %}
{% set showspec = "true" %}

{% block content %}

{# set design spec for this page #}

{% import "/includes/designstatus.html" as designstatus %}

{% 
    set designspec = {
      status: 'dev',
      pageurl: '',
      pagetitle: 'Check the statutory biodiversity metric file',
      ixd: 'alex.morris@defra.gov.uk',
      cd: 'olivia.gordon@defra.gov.uk',
      jira: '4341',
      error: '',
      notes: 'Added wording to the radio button text, so that users have to confirm they have uploaded the correct version of the metric.'
    } 
%}

{{ designstatus.designstatus(designspec.status, designspec.pageurl, designspec.pagetitle, path, designspec.ixd, designspec.cd, designspec.jira, designspec.error, designspec.notes, data | dump) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "File added",
              classes: "app-summary-list__key--narrow",
              classes: "govuk-!-width-one-quarter"
            },
            value: {
              text: data['metric-upload'] or 'metric_4.0_meadow_farm.xlsm'
            }
          }
        ]
      }) }}

      <form method="post" action="">

        {{ govukRadios({
          idPrefix: "metric-correct",
          name: "metric-correct",
          fieldset: {
            legend: {
              text: "Is this the correct file?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes~task-list",
              text: "Yes, this is the statutory biodiversity metric file"
            },
            {
              value: "no~metric-upload",
              text: "No, upload a different file"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Save and continue' }) }}
        
        <input type="hidden" name="metric-cc-uploaded" value="yes">

        
      </form>

    </div>
  </div>

{% endblock %}
