{% extends "register-application/v24/layout-register-application.html" %}

{% set pageHeading = "Enter your biodiversity gain site number" %}
{% set showspec = "true" %}


{% if data["combined-case"] == "combined" %}
{% set tasklist = "/register-application/v24/task-list-combined" %}
{% else %}
{% set tasklist = "task-list-allocation" %}
{% endif %}

{% block content %}

{# set design spec for this page #}

{% import "/includes/designstatus.html" as designstatus %}

{% 
    set designspec = {
      status: 'dev',
      pageurl: '',
      pagetitle: 'Enter your biodiversity gain site number',
      ixd: 'alex.morris@defra.gov.uk',
      cd: 'olivia.gordon@defra.gov.uk',
      jira: '4517',
      error: '',
      notes: 'Updated content to make it suitable for land managers, not just developers.'
    } 
%}

{{ designstatus.designstatus(designspec.status, designspec.pageurl, designspec.pagetitle, path, designspec.ixd, designspec.cd, designspec.jira, designspec.error, designspec.notes, data | dump) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="{{ tasklist }}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="biodiversity-gain-site-number">
            {{ pageHeading }}
          </label>
        </h1>
        
        <p>This is the reference number for the land you're using for off-site gain, which you want to allocate to the development project.</p>
        <p>The landowner will get this number once they've registered the biodiversity gain site.</p>
        
        <div id="biodiversity-gain-site-number-hint" class="govuk-hint">
          For example, BGS-111 222 333
        </div>

        <div class="govuk-form-group">
          <input class="govuk-input govuk-!-width-one-half" id="biodiversity-gain-site-number" name="biodiversity-gain-site-number" type="text" aria-describedby="example-hint">
        </div>

        {{ govukButton({
            text: "Save and continue"
        }) }}
        
        <input type="hidden" name="metric-details-added" value="yes">

      </form>

    </div>
  </div>

{% endblock %}
