{% extends "register-application/v24/layout-register-application.html" %}

{% set pageHeading = "Upload the statutory biodiversity metric file for the development project" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="./allocation-metric-check">

        <label class="govuk-label govuk-visually-hidden" for="allocation-metric-upload">
          Upload a file
        </label>
        
        <p>You must upload a calculation made using the statutory (official) biodiversity metric tool for the development project. Do not use previous versions of the metric tool (4.0 or before).</p>
        
        <p>It must be the same calculation the local planning authority reviewed with the development project's planning application.</p>

        <p>You can <a href="https://www.gov.uk/guidance/biodiversity-metric-calculate-the-biodiversity-net-gain-of-a-project-or-development" target="_blank">find out more about completing a biodiversity metric calculation</a> on GOV.UK.</p>
        
        <p>The file should be:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an XLSM or XLSX</li>
          <li>no larger than 50MB</li>
        </ul>

        <input class="govuk-file-upload" id="allocation-metric-upload" name="allocation-metric-upload" type="file" aria-describedby="allocation-metric-upload-hint">
        
        <br>

        {{ govukButton({
          text: "Upload"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
