{% extends "register-application/v24/layout-register-application.html" %}

{% set pageHeading = "Upload written consent to allocate off-site gains from a biodiversity gain site" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data["is-agent"] == "yes" and data["client-is-landowner"] == "no" %}
      <span  class="govuk-caption-l">Proof of permission 2 of 2</span>
      {% endif %}
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="./applicant-authorisation-as-nrp-check">

        <div id="landowner-certificate-upload-hint">
          
          <p>
            It must include:
            <!-- Conditional content if your are an agent on behalf of NRP or not-->
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a written statement confirming the landowner or leaseholder's consent to allocate off-site gains from their gain site</li>
            <li>the gain site habitats to be allocated to your development</li>
            <li>the names and signatures of all landowners or leaseholders associated with the gain site</li>
            <li>the date consent was given by each landowner or leaseholder</li>
          </ul>
          
        </div>  

        {{ govukFileUpload({
          id: "landowner-agent-upload",
          name: "landowner-agent-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          },
          hint: {
            html: '<p>The file should be:</p> 
          <ul class="govuk-list govuk-list--bullet">
            <li>a DOC, DOCX or PDF</li>
            <li>no larger than 50MB</li>
          </ul>'
          }
          
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What to do if you have no written consent
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>You can <a href="#">download a 'Consent to allocate off-site gains' form</a> and ask the landowner or leaseholder to complete it.</p>
            <p>You can then come back to this application and upload the completed form as written consent to allocate off-site gains.</p>
          </div>
        </details>
        

         <div class="govuk-button-group">

	{{ govukButton({
	  text: data.dict["upload"],
	  classes: "js-updload-button",
	  attributes: {"aria-live":"polite"}
	}) }}
	
	<a class="govuk-link" href="{{ data[latestVersion] }}signed-out.html">{{ data.dict["savelater"] }}</a>
        
</div>
        
      </form>

    </div>
  </div>

{% endblock %}
