{% extends "layouts/main.html" %}

{% set serviceName = "Register a biodiversity gain site" %}
{% set serviceUrl = "/register-application/v24/dashboard" %}
{% set pageURL = "v24" %}
{% set checkUser = query.userCheck %}

{% block header %}

  {% if hideSignOut === true %}

  {{ govukHeader({
	homepageUrl: "/",
	serviceName: serviceName,
	serviceUrl: serviceUrl
  }) }}

  {% else %}

  {{ govukHeader({
	homepageUrl: "/",
	serviceName: serviceName,
	serviceUrl: serviceUrl
  }) }}

  {% endif %} 

   <div class="govuk-width-container">

	{% include "includes/phase-banner.html" %}
	{% include "register-application/v24/includes/login-nav.html" %}
	
  </div>

   <!-- write logic to redirect to error page -->

   {% if checkUser | length %}
	  
   <script>window.location.href = 'user-access-block'</script>

 {% endif %}

{% endblock %}

{% block footer %}
  {% include "register-application/v24/includes/footer.html" %}
{% endblock %}