{% extends "register-application/v24/layout-register-application.html" %}

{% set pageHeading = "You have signed out" %}

{% set hideLogin = true %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <h1 id="dialog-title" class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      <div class="govuk-body">
      <p>We've saved the details you entered so far.</p>
      </div>
      <form action="./sign-in" method="post" novalidate>
      <input type="hidden" name="signed-in" value="yes">
      <button class="govuk-button dialog-button js-dialog-close" data-module="govuk-button">Sign back in</button>
      </form>

    </div>
</div>

<noscript>
<div class="govuk-notification-banner govuk-notification-banner--blue" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
  {{ pageHeading }}
</h2>
</div>
<div class="govuk-notification-banner__content">
<div class="govuk-body">
  <p>We've saved the details you entered so far.</p>
</div>
</div>
</div>
</noscript>

{% endblock %}