{% extends "/credits-buy/v4/layout-credits-buy.html" %}

{% block pageTitle %}
  Check your Defra account details are up to date – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your Defra account details are up to date</h1>

      {% if data['ind-or-org']=="Individual" %}
      <p>We will use the following information from your Defra account to identify you, and to assist with our customer due diligence (anti-money laundering) checks:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>name (first and family)</li>
        <li>phone number</li>
        <li>email</li>
        <li>address</li>
      </ul>
      {% endif %}
      
      {% if data['ind-or-org']=="Organisation" %}

      <p>We will use the following information from your Defra account to identify your organisation, and to assist with our customer due diligence (anti-money laundering) checks.</p>

      <p>Check your organisation's:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>entity <span style="color: red;">WILL REQUIRE HINT TEXT TO EXPLAIN WHAT AN ENTITY IS</span></li>
        <li>phone number</li>
        <li>email address</li>
      </ul>

      <p>You can also check your organisation's date of incorporation, Companies House number and registered address.</p>

      <!-- <p><span class="govuk-body govuk-!-font-weight-bold">SEABARLEY LIMITED</span> is the organisation you are purchasing credits for.</p> -->



      {% endif %}

      <p><a href="#">Check your Defra account details (opens in new tab)</a></p>

      <h2 class="govuk-heading-m">Confirm your Defra account details are up to date</h2>

      <form method="post">
        <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                My Defra account details are up to date and I will be purchasing credits as {% if data['ind-or-org']=="Organisation" %} <span class="govuk-body govuk-!-font-weight-bold">SEABARLEY LIMITED</span> {% else %} Jo Smith {% endif %}
              </label>
            </div>
          </div>
      </div>

      <!-- <p>{% if data['ind-or-org']=="Organisation" %}
        Org
      {% else %}
        Ind
      {% endif %}</p> -->

      <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
