{% extends "/credits-buy/v4/layout-credits-buy.html" %}

{% block pageTitle %}
  Purchasing statutory biodiversity credits as an individual or an organisation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Are you purchasing statutory biodiversity credits as an individual or an organisation?
              </h1>
            </legend>
            <!-- <p>Are you an individual or representing an organisation?</p> -->
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ind" name="ind-or-org" type="radio" value="Individual">
                <label class="govuk-label govuk-radios__label" for="ind">
                  Individual
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="org" name="ind-or-org" type="radio" value="Organisation">
                <label class="govuk-label govuk-radios__label" for="org">
                  Organisation
                </label>
              </div>                     
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>

    </div>
  </div>

{% endblock %}
