{% extends "register-application/v24/layout-register-application.html" %}

{% set showspec = "true" %}

{% set pagenumber = 3 %}

{% set pageHeading = "Allocate habitat from the biodiversity gain site to the development" %}

{% block pageTitle %}
  {{ pageHeading }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{# set design spec for this page #}

{% import "/includes/designstatus.html" as designstatus %}

{% 
    set designspec = {
      status: 'design',
      pageurl: '',
      pagetitle: pageHeading,
      ixd: 'alex.morris@defra.gov.uk',
      cd: 'olivia.gordon@defra.gov.uk',
      jira: '',
      error: '',
      notes: ''
    } 
%}

{{ designstatus.designstatus(designspec.status, designspec.pageurl, designspec.pagetitle, path, designspec.ixd, designspec.cd, designspec.jira, designspec.error, designspec.notes, data | dump) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <div class="govuk-form-group">
       <form action="match-allocation-summary">
       <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
         <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
           <span class="govuk-caption-l">Step 3 of 3</span>
           <h1 class="govuk-fieldset__heading">
             {{ pageHeading }}
           </h1>
         </legend>
           <h3 class="govuk-heading-m govuk-!-margin-top-4">Habitat required by the development project</h3>
         <div class="govuk-inset-text">Woodland and forest - Lowland mixed deciduous woodland (20 hectares / poor condition)</div>
         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
         <div id="signIn-hint">
           <h3 class="govuk-heading-m">Only one habitat matches. Only one habitat can match your allocation:</h3>
         </div>
         <div class="govuk-radios" data-module="govuk-radios">
           <div class="govuk-radios__item">
             <input checked="checked" class="govuk-radios__input" id="match-woodlandscrub-0.8" name="match-woodlandscrub-{{ pagenumber }}" type="radio" value="5 hectares / Moderate condition" aria-describedby="match-woodlandscrub-0.8-hint">
             <label class="govuk-label govuk-radios__label" for="match-woodlandscrub-0.8">
               Woodland and forest - Lowland mixed deciduous woodland
             </label>
             <div id="match-woodlandscrub-1.8-hint" class="govuk-hint govuk-radios__hint">
               5 hectares / Moderate condition
             </div>
           </div>
           <!--<div class="govuk-radios__item">
             <input class="govuk-radios__input" id="match-woodlandscrub-0.2" name="match-woodlandscrub-{{ pagenumber }}" type="radio" value="0.5 hectares / Medium Condition" aria-describedby="match-woodlandscrub-0.2-hint">
             <label class="govuk-label govuk-radios__label" for="match-woodlandscrub-0.2">
               Woodland and forest - Lowland mixed deciduous woodland
             </label>
             <div id="match-woodlandscrub-2.0-hint" class="govuk-hint govuk-radios__hint">
               0.5 hectares / Medium Condition
             </div>
           </div>-->
         </div>
         <details class="govuk-details govuk-!-margin-top-4">
           <summary class="govuk-details__summary">
             <span class="govuk-details__summary-text">
               Further information on allocating to the development
             </span>
           </summary>
           <div class="govuk-details__text">
             <p>There must be enough habitat available on the gain site being registered to meet the allocation to a development.</p>
             <p>Your application may be delayed, or rejected, if the area or length of allocated habitat is greater than the available habitat shown for your gain site.</p>
             <p>Required habitats are taken from row X from sheet Y in your <b>development metric</b>. Available habitats are taken from rows X, Y and Z from sheet N in your <b>registration metric</b>.</p>
           </div>
         </details>
         <div class="govuk-form-group govuk-!-static-margin-top-6">
           <button type="submit" class="govuk-button" data-module="govuk-button">
             Save and continue
           </button>
         </div>
       </fieldset>
       </form>
     </div>

    </div>
  </div>

{% endblock %}
