{% extends "layouts/main.html" %}

{% block pageTitle %}
Register a biodiversity gain site
{% endblock %}

{% block header %}
<!-- Blank header with no service name for this page -->
{{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Environment",
        href: "#"
      },
      {
        text: "Wildlife, animals, biodiversity and ecosystems",
        href: "#"
      },
      {
        text: "Biodiversity and ecosystems"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
    <h1 class="govuk-heading-xl">
      Register a biodiversity gain site
    </h1>
    <p class="gem-c-lead-paragraph">Find out what to do and how much it costs to register a biodiversity gain site.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
        <dl class="gem-c-metadata__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food &amp; Rural Affairs</a> and <a class="govuk-link" href="/government/organisations/natural-england">Natural England</a>

          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">12 February 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">
            16 February 2024
            — <a href="#full-publication-update-history" class="gem-c-metadata__definition-link govuk-!-display-none-print js-see-all-updates-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
              See all updates
            </a>
          </dd>
        </dl>

        <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/guidance/register-a-biodiversity-gain-site" data-track-action="Subscribe-button-top" data-track-category="Single-page-notification-button" data-button-location="top" data-button-text-subscribe="Get emails about this page" data-button-text-unsubscribe="Stop getting emails about this page">
          <input type="hidden" name="base_path" value="/guidance/register-a-biodiversity-gain-site">
          <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;subscribe&quot;,&quot;index_link&quot;:1,&quot;index_total&quot;:2,&quot;section&quot;:&quot;Top&quot;,&quot;url&quot;:&quot;/email/subscriptions/single-page/new&quot;}"> <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
              <path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path>
            </svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
          </button>
        </form>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">

    <section class="gem-c-devolved-nations" data-ga4-devolved-nations-banner="England" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-set-indexes="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;devolved nations banner&quot;,&quot;section&quot;:&quot;Applies to England&quot;,&quot;index_total&quot;:0}" data-ga4-link-tracker-module-started="true">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
        Applies to England
      </h2>
    </section>

    <!-- content body -->

    <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container" data-sticky-element-container-module-started="true">
      <div class="responsive-bottom-margin">
        <nav data-module="gem-track-click ga4-link-tracker" aria-label="Contents" class="gem-c-contents-list" role="navigation" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#before-you-apply" data-track-options="{&quot;dimension29&quot;:&quot;Before you apply&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:1}" href="#before-you-apply">Before you apply</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#registration-fees" data-track-options="{&quot;dimension29&quot;:&quot;Registration fees&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:2}" href="#registration-fees">Registration fees</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#what-happens-after-you-apply" data-track-options="{&quot;dimension29&quot;:&quot;What happens after you apply&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:3}" href="#what-happens-after-you-apply">What happens after you apply</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#if-you-also-want-to-record-allocation-of-off-site-gains-to-a-development" data-track-options="{&quot;dimension29&quot;:&quot;If you also want to record allocation of off-site gains to a development&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:4}" href="#if-you-also-want-to-record-allocation-of-off-site-gains-to-a-development">If you also want to record allocation of off-site gains to a development</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#signing-into-this-service" data-track-options="{&quot;dimension29&quot;:&quot;Signing into this service&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:5}" href="#signing-into-this-service">Signing into this service</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#saving-your-progress" data-track-options="{&quot;dimension29&quot;:&quot;Saving your progress&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:6}" href="#saving-your-progress">Saving your progress</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#withdrawals-and-refunds" data-track-options="{&quot;dimension29&quot;:&quot;Withdrawals and refunds&nbsp;&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:7}" href="#withdrawals-and-refunds">Withdrawals and refunds&nbsp;</a>
            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
              <span aria-hidden="true"></span>
              <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="#contact-us-if-you-need-help" data-track-options="{&quot;dimension29&quot;:&quot;Contact us if you need help&nbsp;&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;section&quot;:&quot;Contents&quot;,&quot;type&quot;:&quot;contents list&quot;,&quot;index_total&quot;:8,&quot;index_link&quot;:8}" href="#contact-us-if-you-need-help">Contact us if you need help&nbsp;</a>
            </li>
          </ol>
        </nav>
      </div>


      <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
      </div>


      <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak ga4-link-tracker" data-ga4-track-links-only="" data-ga4-limit-to-element-class="call-to-action, info-notice, help-notice, advisory" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;callout&quot;}" data-govspeak-module-started="true" data-ga4-link-tracker-module-started="true">

        <div class="govspeak">
          <h2 id="before-you-apply">Before you apply</h2>

          <p>You’ll need:</p>

          <ul>
            <li>
              <p>the title deeds or lease agreement to prove ownership</p>
            </li>
            <li>
              <p><a href="https://www.gov.uk/government/publications/authorise-an-agent-to-act-your-behalf-form" class="govuk-link">written authorisation</a> from the landowner or leaseholder if you’re applying on their behalf</p>
            </li>
            <li>
              <p>a document or image showing the land boundary – this must not include any personal information, like a landowner’s name</p>
            </li>
            <li>
              <p>a <a href="https://www.gov.uk/guidance/legal-agreements-to-secure-your-biodiversity-net-gain" class="govuk-link">legal agreement</a> that secures the land for at least 30 years – this must be a&nbsp;planning obligation (Section 106 agreement) or&nbsp;conservation covenant</p>
            </li>
            <li>
              <p>completed&nbsp;<a href="https://www.gov.uk/guidance/biodiversity-metric-calculate-the-biodiversity-net-gain-of-a-project-or-development" class="govuk-link">statutory biodiversity metric tool</a> calculations that include information about all the land secured by the legal agreement</p>
            </li>
            <li>
              <p>a&nbsp;<a href="https://www.gov.uk/guidance/creating-a-habitat-management-and-monitoring-plan-for-biodiversity-net-gain" class="govuk-link">habitat management and monitoring plan</a>&nbsp;(this may be within your legal agreement)</p>
            </li>
            <li>
              <p>a&nbsp;<a href="https://www.gov.uk/search-local-land-charges" class="govuk-link">local land charge search certificate</a></p>
            </li>
          </ul>

          <h2 id="registration-fees">Registration fees</h2>

          <p>It costs £639 to register a biodiversity gain site. You must pay within 28 days of submitting your application.</p>

          <h2 id="what-happens-after-you-apply">What happens after you apply</h2>

          <p>We will let you know within 6 weeks if:</p>

          <ul>
            <li>we need more information from you</li>
            <li>your application to register your biodiversity gain site has been accepted or rejected</li>
          </ul>

          <p>If we accept your application, you will get an email with a gain site reference number. This is unique to your biodiversity gain site.</p>

          <p>If we reject your application, we will let you know why.&nbsp;&nbsp;</p>

          <h2 id="if-you-also-want-to-record-allocation-of-off-site-gains-to-a-development">If you also want to record allocation of off-site gains to a development</h2>

          <p>You can apply to <a href="https://www.gov.uk/guidance/register-a-biodiversity-site-and-allocate-to-a-development" class="govuk-link">register a biodiversity site and allocate to a development</a> at the same time.</p>

          <p><a class="gem-c-button govuk-button govuk-button--start" role="button" data-module="govuk-button" draggable="false" href="/register-application/v24/dashboard-combined" data-govuk-button-module-started="true"><span> Start now </span><svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true"> 
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
    </svg></a></p>

          <h2 id="signing-into-this-service">Signing into this service</h2>

          <p>You’ll need a Government Gateway account and a Defra account to sign into this service.</p>

          <p>If you do not have a Government Gateway account or a Defra account, you can set both up when you use this service for the first time.</p>

          <h2 id="saving-your-progress">Saving your progress</h2>

          <p>You can save your application and come back to it at any time.</p>

          <p><a rel="external" href="https://manage-biodiversity-gains.defra.gov.uk" class="govuk-link">Continue with a saved application</a></p>

          <h2 id="withdrawals-and-refunds">Withdrawals and refunds&nbsp;</h2>

          <p>Once we have made a decision on your application you cannot withdraw it. Refunds will not be given.&nbsp;&nbsp;</p>

          <p>You can <a href="https://www.gov.uk/guidance/biodiversity-gain-sites-register-terms-and-conditions" class="govuk-link">read the terms and conditions</a>&nbsp;for more information on withdrawals, refunds and how we approve or reject applications.</p>

          <h2 id="contact-us-if-you-need-help">Contact us if you need help&nbsp;</h2>

          <p>Telephone: 0300 060 3900</p>

          <p>Opening times:</p>

          <ul>
            <li>March to September – Monday to Friday, 10am to 4pm</li>
            <li>October to February – Monday to Friday, 10am to 3pm</li>
          </ul>

          <p>Closed on public holidays.</p>

          <p><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a>.</p>

          <p>Email: <a href="mailto:biodiversitynetgainenquiries@naturalengland.org.uk" class="govuk-link">biodiversitynetgainenquiries@naturalengland.org.uk</a></p>

          <p>We aim to reply within 10 working days.</p>
        </div>

      </div>

      <div class="app-c-published-dates app-c-published-dates--history govuk-!-margin-bottom-5 gem-c-layout-for-public" id="full-publication-update-history" data-module="gem-toggle" lang="en" data-gem-toggle-module-started="true">
        Published 12 February 2024
        <br>Last updated 16 February 2024
        <a href="#full-history" class="app-c-published-dates__toggle govuk-link" data-controls="full-history" data-expanded="false" data-toggled-text="-&nbsp;hide all updates" data-module="ga4-event-tracker" data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;content history&quot;,&quot;section&quot;:&quot;Footer&quot;}" data-ga4-expandable="" role="button" aria-controls="full-history" aria-expanded="false" data-ga4-event-tracker-module-started="true">+&nbsp;show all updates</a>
        <div class="app-c-published-dates__change-history js-hidden" id="full-history" aria-live="polite" role="region">
          <ol class="app-c-published-dates__list">
            <li class="app-c-published-dates__change-item">
              <time class="app-c-published-dates__change-date timestamp" datetime="2024-02-16T10:00:02.000+00:00">16 February 2024</time>
              <p class="app-c-published-dates__change-note">Opening times to helpline has changed to Monday to Friday, 10am to 3pm during October and February.</p>
            </li>
            <li class="app-c-published-dates__change-item">
              <time class="app-c-published-dates__change-date timestamp" datetime="2024-02-12T00:00:00.000+00:00">12 February 2024</time>
              <p class="app-c-published-dates__change-note">First published.</p>
            </li>
          </ol>
        </div>
      </div>


      <div class="published-dates-button-group">
        <div data-module="gem-track-click ga4-link-tracker" class="govuk-!-display-none-print govuk-!-margin-bottom-3" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">
          <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/guidance/register-a-biodiversity-gain-site" data-track-action="Subscribe-button-bottom" data-track-category="Single-page-notification-button" data-button-location="bottom" data-button-text-subscribe="Get emails about this page" data-button-text-unsubscribe="Stop getting emails about this page">
            <input type="hidden" name="base_path" value="/guidance/register-a-biodiversity-gain-site">
            <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;subscribe&quot;,&quot;index_link&quot;:2,&quot;index_total&quot;:2,&quot;section&quot;:&quot;Footer&quot;,&quot;url&quot;:&quot;/email/subscriptions/single-page/new&quot;}"> <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334">
                <path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path>
              </svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
            </button>
          </form>
        </div>

        <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-8">
          <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
        </div>
      </div>


      <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--hidden sticky-element--stuck-to-window sticky-element--enabled">
        <div class="app-c-contents-list-with-body__link-container">
          <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
            <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>
            Contents
          </a>

        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="gem-c-contextual-footer">
          <div class="gem-c-related-navigation" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true" data-ga4-link-tracker-module-started="true">



            <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-6aad45a5" data-module="gem-toggle" data-gem-toggle-module-started="true">

              <h2 id="related-nav-topics-6aad45a5" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

              <ul class="gem-c-related-navigation__link-list">
                <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/environment/biodiversity-and-ecosystems" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Biodiversity and ecosystems&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;contextual footer&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;3&quot;,&quot;section&quot;:&quot;Explore the topic&quot;}" href="/environment/biodiversity-and-ecosystems">Biodiversity and ecosystems</a></li>
                <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.2 Explore the topic" data-track-label="/environment/wildlife-habitat-conservation" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Wildlife and habitat conservation&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;contextual footer&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;2&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;3&quot;,&quot;section&quot;:&quot;Explore the topic&quot;}" href="/environment/wildlife-habitat-conservation">Wildlife and habitat conservation</a></li>
                <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.3 Explore the topic" data-track-label="/housing-local-and-community/planning-and-building" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Planning and building&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;contextual footer&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;3&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;3&quot;,&quot;section&quot;:&quot;Explore the topic&quot;}" href="/housing-local-and-community/planning-and-building">Planning and building</a></li>

              </ul>
            </nav>

          </div>
        </div>


      </div>
    </div>

    <!-- content body -->

    <p>
      <a href="#">
        View a printable version of the whole guide
      </a>
    </p>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-collections-48941800" data-module="gem-toggle" data-gem-toggle-module-started="true">
      
          <h3 id="related-nav-collections-48941800" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Collection</h3>
      
        <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar" data-track-category="relatedLinkClicked" data-track-action="1.1 Collection" data-track-label="/government/collections/biodiversity-net-gain" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Biodiversity net gain&quot;}" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Collection&quot;}" href="/government/collections/biodiversity-net-gain">Biodiversity net gain</a></li>
      
        </ul>
      </nav>
    </aside>

  </div>

  </main>
</div>


{% endblock %}