{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} design history
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }} design history
    </h1>

    <h2 class="govuk-heading-m" id="content-design-updates-to-the-record-allocation-and-register-a-biodiversity-gain-site-prototypes-april-2024">Content design updates to the &#39;record allocation&#39; and &#39;register a biodiversity gain site&#39; prototypes</h2>
    <h3 class="govuk-heading-s">April 2024</h3>
     <p>We have updated content in response to UR and analytics feedback across the prototypes for record and register. These updates should go through UR testing and further iteration. </p>
     <p>Changes for combined case are not mentioned in this post except where combined case pages differ from register and record, because in most of its pages, combined case pulls through content from register and record.  </p>
     <h3 class="govuk-heading-s" id="how-we-refer-to-the-metric">How we refer to the metric</h3>
     <p>We updated content across all prototypes to make it clear to users which version of the metric they need to upload. (It needs to be the statutory biodiversity metric tool calculation).  </p>
     <p>This was in response to: </p>
     <ul class="govuk-list govuk-list--bullet">
     <li><p>user research finding that users were uploading outdated versions of the metric </p>
     </li>
     <li><p>the previous wording on what the LPA had reviewed being factually inaccurate  </p>
     </li>
     </ul>
     <p>We moved guidance up from its previous position hidden in an accordion into the main body text, to make it more visible. We also added more specific detail to the wording to make it clearer.  </p>
     <p>We added wording to the radio button text on the confirmation pages, so that users have to confirm they have uploaded the correct version of the metric. </p>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-4341">https://eaflood.atlassian.net/browse/BNGP-4341</a> </p>
     <h3 class="govuk-heading-s" id="clarifying-that-some-documents-should-be-dated-within-2-months-before-application">Clarifying that some documents should be dated within 2 months before application</h3>
     <p>All applications received so far did not provide landowner consent dated within 2 months. This is because the services did not explain this requirement. We added content to the register and record prototypes to clarify that the authorisation must be dated within the last 2 months. We also moved info on what to do if you have no authorisation out of an accordion and linked to the correct form. </p>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-4818">https://eaflood.atlassian.net/browse/BNGP-4818</a> </p>
     <p>2 out of 3 users so far have failed to upload the official local land charge certificate dated within the right time period. We updated register prototype content to be clear that users must upload the official search certificate from HM Land Registry or the LPA, dated within the last 2 months. </p>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-4819">https://eaflood.atlassian.net/browse/BNGP-4819</a> </p>
     <h3 class="govuk-heading-s" id="aligning-the-record-journey-with-its-users">Aligning the record journey with its users</h3>
     <p>Some of the content in the record prototype addressed &#39;you&#39; as a developer, for example using terms like &#39;your development&#39;. However, although developers can also use this service with the land manager&#39;s permission, the record journey is a duty for land managers who sell off-site gains. We rewrote developer-focused content on a number of pages to make it more neutral and suitable for land managers as well as developers. </p>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-4517">https://eaflood.atlassian.net/browse/BNGP-4517</a> </p>
     <h3 class="govuk-heading-s" id="helping-users-know-they-can-save-their-application-and-return-to-it">Helping users know they can save their application and return to it</h3>
     <p>UR and survey feedback found that users are unaware that their progress would be saved throughout. Users looked for a save button but sometimes couldn&#39;t find it and assumed they could not leave the application because their progress would not be saved. This could prevent users from entering information in multiple sessions. It could also prevent those with assisted digital needs from completing the journey as they may need multiple sessions. Across registration and allocation, we updated the text on the previous &#39;continue&#39; button to be consistently &#39;save and continue&#39;. </p>
     <p>We are also adding wording to tasklist and upload pages to explicitly let users know they can save the application by completing each page and come back to it another time. </p>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-4345">https://eaflood.atlassian.net/browse/BNGP-4345</a> </p>
     <h3 class="govuk-heading-s" id="helping-users-discharge-their-planning-condition">Helping users discharge their planning condition</h3>
     <p>At the end of the allocation journey, testing found multiple users were not aware of the need to get in touch with their LPA after successfully recording an allocation so that they can &#39;discharge the condition&#39; in the way they normally would any other planning conditions. We updated content to make this clearer in the prototype and in the Notify acceptance emails users receive at the end of the allocation journey, as well as the contingency allocation and combined case journeys. </p>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-4002">https://eaflood.atlassian.net/browse/BNGP-4002</a> </p>
     <h3 class="govuk-heading-s" id="adding-the-requirement-to-upload-a-planning-application-decision-notice">Adding the requirement to upload a planning application decision notice</h3>
     <p>There is a new legal requirement which means we need to ask the applicant for a copy of the &#39;planning application decision notice&#39; when they submit their application to record an allocation or complete a combined case application. We updated content to add this requirement to the prototype start page for combined case and the contingency start pages for allocation and combined case. (The change had already been made to the record prototype start page).  </p>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-4591">https://eaflood.atlassian.net/browse/BNGP-4591</a> </p>
     <h3 class="govuk-heading-s" id="clarifying-how-to-sign-in-using-government-gateway-and-defra-accounts-at-the-start-of-journeys">Clarifying how to sign in using Government Gateway and Defra accounts at the start of journeys</h3>
     <p>Analytics show that large numbers of users drop off the register service due to the hurdle of signing in with Government Gateway and Defra accounts. We need more UR to understand what specific issues users are facing, but some UR has found that it was not clear whether users needed to set up a Government Gateway account for their client or if they could use their own. We updated information on signing into our digital services on each start page, to clarify that users should use their own email address to set up Government Gateway and Defra accounts, so that the service can contact them about their application. We explain now that they can either use their personal email or their work email, if applying for an organisation. The wording is likely to need further iterations following more user testing. </p>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-4337">https://eaflood.atlassian.net/browse/BNGP-4337</a> </p>
     <h3 class="govuk-heading-s" id="clarifying-that-refunds-will-not-be-given">Clarifying that refunds will not be given</h3>
     <p>Following legal advice, and because understanding refunds are essential to users, in the confirmation pages in both register and record, we amended how we refer to refunds, to make it clear that refunds are not given. (Previous wording wrongly implied that refunds were possible within 28 days). </p>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-5010">https://eaflood.atlassian.net/browse/BNGP-5010</a> </p>
     <h3 class="govuk-heading-s" id="gov-pay-updates">Gov Pay updates</h3>
     <p>We have designed some changes ahead of Gov Pay being added to the register and record services. These include: </p>
     <ul class="govuk-list govuk-list--bullet">
     <li><p>updating the &#39;submit&#39; button to &#39;submit and continue to payment&#39; so the user knows they can continue to the payment stage of the journey (<a href="https://eaflood.atlassian.net/browse/BNGP-4833">https://eaflood.atlassian.net/browse/BNGP-4833</a>) </p>
     </li>
     <li><p>a new confirmation page the user will see after paying using Gov Pay, which states the application and payment are made and outlines next steps (<a href="https://eaflood.atlassian.net/browse/BNGP-4389">https://eaflood.atlassian.net/browse/BNGP-4389</a>  </p>
     </li>
     <li><p>updating the Notify email users get to confirm their application has been received to remove the need to pay by BACS </p>
     </li>
     </ul>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-4390">https://eaflood.atlassian.net/browse/BNGP-4390</a></p>
     <h3 class="govuk-heading-s" id="amendments-and-removals-entry-points-and-drafting-a-record-digital-service-start-page">Amendments and removals entry points, and drafting a record digital service start page</h3>
     <p>We have drafted content for the record digital service start page in Word, reflecting the various updates made to content across the service. </p>
     <p><a href="https://eaflood.atlassian.net/browse/BNGP-3109">https://eaflood.atlassian.net/browse/BNGP-3109</a> </p>
     <p>We added a link on each prototype dashboard to new detailed guidance in Whitehall, so users can find how to amend a registration or allocation, or remove a registration. Once more BA work on amendments and removals requirements is complete, we plan to amend all digital service start pages to link to the same detailed guidance, draft the record start page in Whitehall, and draft the new detailed amendments and removals guidance in Whitehall.  </p>
     <p>[Awaiting tickets]  </p>


    </div>
  </div>

{% endblock %}
