{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}


    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
    
    <p><a href="history.html">Design history</a></p>
    
    <h2 class="govuk-heading-l">Combined case</h2>
        
    <ul class="govuk-list">
      <li><strong class="govuk-tag govuk-tag--green">Current</strong>&nbsp;<a href="combined-case/v3/">Combined case (v3 fixed allocation patterns)</a></li>
      <li><a href="combined-case/v2/">Combined case (v2 Merged flows with full CC journey)</a></li>
      <li><a href="combined-case/v1/">Combined case (v1 Matching interaction only)</a></li>
    </ul>
    
    <h2 class="govuk-heading-l">Register and allocation</h2>
        
    <ul class="govuk-list">
      <li><strong class="govuk-tag govuk-tag--green">Current</strong>&nbsp;<a href="register-application/v24/dashboard-register">Register journey (v24)</a></li>
      <li><strong class="govuk-tag govuk-tag--green">Current</strong>&nbsp;<a href="register-application/v24/dashboard-allocate">Allocation journey (v24)</a></li>
      <li><a href="register-application/v24/combined-case-start">Combined case journey (Deprecated to be re-worked completely. For historical reference only)</a></li>
      <li><a href="register-application/v23/dashboard-allocate">Allocation journey (v23 new iterations)</a></li>
      <li><a href="register-application/v23/dashboard-register">Register journey (v23 new iterations)</a></li>
      <li><a href="register-application/v22/dashboard-register">Register journey (v22)</a></li>
      <li><a href="register-application/v22/dashboard-allocate">Latest allocation journey (v22 )</a></li>
    </ul>
    
    <h2 class="govuk-heading-l">Credits and public register</h2>

    <h3 class="govuk-heading-m">Biodiversity gain sites register</h3>
    
    <ul class="govuk-list">
      <li><a href="biodiversity-gain-sites-register/v6/start">Biodiversity gain sites register (AKA - Public Register)</a></li>
      <li><a href="biodiversity-gain-sites-register/v7/">Biodiversity gain sites register (v7 inc Search and filter design options)</a></li>
      <li><a href="biodiversity-gain-sites-register/v8/">Biodiversity gain sites register (v8 inc Removals and amendments)</a></li>
      <li><a href="biodiversity-gain-sites-register/v9/start">Biodiversity gain sites register (v9 inc Removals, amendments and tabs)</a></li>
    </ul>

    <h3 class="govuk-heading-m">Estimate the cost of statutory biodiversity credits</h3>

    <ul class="govuk-list">
      <li><a href="credits-estimation/v5/start">Estimate the cost of statutory biodiversity credits (Live)</a></li>
    </ul>

    <h3 class="govuk-heading-m">Buying statutory biodiversity credits</h3>

    <ul class="govuk-list">
      <li><a href="credits-buy/v4/start">Buying statutory biodiversity credits (v4)</a></li>
      <li><a href="credits-buy/v5/start">Buying statutory biodiversity credits (v5 inc Developmemt details screen)</a></li>
    </ul>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}

  </div>
</div>

{% endblock %}
