{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    
    <ul class="govuk-list">
      <li><a href="register-application/v22/dashboard-register">Latest register journey (v22)</a></li>
      <li><a href="biodiversity-gain-sites-register/v6/start">Biodiversity gain sites register (AKA - Public Register)</a></li>
      <li><a href="credits-estimation/v5/start">Estimate the cost of statutory biodiversity credits</a></li>
      <li><a href="credits-buy/v4/start">Buying statutory biodiversity credits</a></li>
      
    </ul>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
