{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    
    <p><a href="register-application/v22/dashboard-register">Latest register journey (v22)</a></p>
    <p><a href="biodiversity-gain-sites-register/V6/search">Current biodiversity gain sites register journey (AKA - Public Register)</a> </p>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
