{% extends "register-application/v24/layout-register-application.html" %}

{% set pageHeading = "Upload the planning application decision notice for the development" %}
{% set showspec = "true" %}


{% block content %}

{# set design spec for this page #}

{% import "/includes/designstatus.html" as designstatus %}

{% 
    set designspec = {
      status: 'dev',
      pageurl: '',
      pagetitle: 'Upload the planning decision notice for the development',
      ixd: 'alex.morris@defra.gov.uk',
      cd: 'olivia.gordon@defra.gov.uk',
      jira: '4591',
      error: '',
      notes: 'updated content to clarify correct name of this notice.'
    } 
%}

{{ designstatus.designstatus(designspec.status, designspec.pageurl, designspec.pagetitle, path, designspec.ixd, designspec.cd, designspec.jira, designspec.error, designspec.notes, data | dump) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="./allocation-permission-check">

        <label class="govuk-label govuk-visually-hidden" for="allocation-metric-upload">
          Upload a file
        </label>

        <div id="allocation-metric-upload-hint">
          <p>This must be the notice the local planning authority (LPA) sent that confirms planning permission for the development has been granted.</p>
          <p>The file should be:</p> 
          <ul class="govuk-list govuk-list--bullet">
            <li>a DOC, DOCX or PDF</li>
            <li>no larger than 50MB</li>
          </ul>
        </div>

        <input class="govuk-file-upload" id="allocation-metric-upload" name="allocation-metric-upload" type="file" aria-describedby="allocation-metric-upload-hint">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What to do if you have no decision notice
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>You'll need to ask the LPA that approved the planning application to send you a decision notice.</p>
          </div>
        </details>

         <div class="govuk-button-group">

	{{ govukButton({
	  text: data.dict["upload"],
	  classes: "js-updload-button",
	  attributes: {"aria-live":"polite"}
	}) }}
	
	<a class="govuk-link" href="{{ data[latestVersion] }}signed-out.html">{{ data.dict["savelater"] }}</a>
        
</div>
        
      </form>

    </div>
  </div>

{% endblock %}
