{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# 
Below added to include the new gov.uk crown
#}

{% set bodyClasses = "" %}

{% block headIcons %}{% endblock %}

{% block header %}
  {{ govukHeader({
	homepageUrl: "/",
	serviceName: "",
	serviceUrl: "/",
	containerClasses: "govuk-width-container",
	useTudorCrown: true
  }) }}
{% endblock %}

{# 
Below added to include accessible autocorrect globally 
#}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       {
         href: "/privacy",
         text: "Privacy policy"
       },
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "javascript:toggleDrawer()",
         text: "Design spec",
         attributes: { id : "speclink" }
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
 
 {% set speccheck = showspec %}
  {% if speccheck %}
  <style>
    li:has(#speclink) { display: inline-block }
  </style>
  {% else %}
  <style>
     li:has(#speclink) { display: none }
   </style>
  {% endif %}
 
{% endblock %}


{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
{% endblock %}
